<% if @user.admin %>
    <h2>ADMIN</h2>
<% end %>

<%= @user.name %>
<li>Mood: <%= @user.mood %></li>
<li>Tickets: <%= @user.tickets %></li>
<li>Height: <%= @user.height %></li>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", '/logout' %>